<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{> page/title}}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation-float.min.css"
        integrity="sha256-4ldVyEvC86/kae2IBWw+eJrTiwNEbUUTmN0zkP4luL4=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body>
    <div class="top-bar" style="background-color: #01051f;">
        <div class="top-bar-right">
            <ul class="menu">
                <li>
                    {{#each navs}}
                    {{> page/nav}}
                    {{/each}}
                </li>
            </ul>
        </div>
    </div>
    <br />
    <div class="hero-banner">
        <img src="/assets/img/jobhunter.png" />
    </div>

    {{{body}}}
    <footer class="footer">
        <div class="text-footer">
            <a href="jobhunter.com" style="color: white;">JOB HUNTER</a>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js"
        integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=" crossorigin="anonymous"></script>
    <script>
        $(document).foundation();
    </script>
    <script src="/assets/js/index.js"></script>
</body>

</html>