
    <div class="top-bar" style="background-color: #01051f;">
      <div class="top-bar-right">
        <ul class="menu">
          <li>
            <button type="button" class="button">Saved Jobs</button>
          </li>
        </ul>
      </div>
    </div>
    <br />
    <div class="hero-banner">
      <img src="/assets/img/jobhunter.png" />
    </div>
    <div class="row" style="padding: 1em;">
      <form>
        <div class="medium-5 columns">
          <input name="search" id="keywords" type="text" placeholder="Search Tech Jobs (java, Ruby, etc)" />
        </div>
        <div class="medium-5 columns">
          <input name="location" type="text" id="location" placeholder="Location" />
        </div>
        <div class="medium-2 columns">
          <button class="search-button" type="button" id="search-btn">Search</button>
        </div>
      </form>
    </div>

    <div class="row" id="search-results">

    </div>

   

    