<div class="row" style="padding: 1em;">
  <form class="search-jobs">
    <div class="medium-5 columns">
      <input name="search" id="keywords" type="text" placeholder="Search Tech Jobs (java, Ruby, etc)" />
    </div>
    <div class="medium-5 columns">
      <input name="location" type="text" id="location" placeholder="Location" />
    </div>
    <div class="medium-2 columns">
      <button class="search-button" type="submit" id="search-btn">Search</button>
    </div>
  </form>
  <hr class="rounded-line">
</div>

<div class="row small-up-1 medium-up-2 large-up-3" id="search-results">

</div>