:root {
  font-size: 20px;
  --primary: #01051f;
  --secondary: #007ea7;
  --third: #003459;
  --fourth: #00a8e8;
  --fifth: #;
  --boxshadow: #00000047;
  --bodyfont: 'Quicksand', sans-serif;;
  --jumbotronfont: ;
}

body{
  font-family: var(--bodyfont);
}

.footer {
  position: absolute;
  width: 100%;
  line-height: 60px;
  background-color: #01051f;
  text-align: center;
}

.callout{
  font-size: .8em;
  box-shadow: 0 5px 5px 0 var(--boxshadow), 0 4px 5px 0 var(--boxshadow);
}

.button{
  background-color: var(--fourth);
}

hr.rounded-line{
  border: 6px solid var(--fourth);
  border-radius: 5px;
}

.card{
  box-shadow: 0 5px 5px 0 var(--boxshadow), 0 4px 5px 0 var(--boxshadow);
}

.card-divider{
  background-color: var(--third);
  color: white;
}

.hero-full-screen {
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: url("tech_crew.jpg") center center no-repeat;
  background-size: cover;
}

.hero-full-screen .middle-content-section {
  text-align: center;
  color: #fefefe;
}

.hero-full-screen .top-content-section {
  width: 100%;
}

.middle-content-section .button-large {
  padding: 8px;
  border-radius: 12px;
  background-color: #00171f;
  color: #fff;
  cursor: pointer;
}

.hero-text-background {
  background-color: #01051f;
  padding-left: 10px;
  padding-right: 10px;
}

.hero-banner {
  text-align: center;
  margin-bottom: 2em;
}

.hero-banner img {
  max-width: 100%;
}

.right-image {
  width: 60%;
  float: right;
  padding-bottom: 30px;
}

.form {
  display: inline-flex;
}

.search-form {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 20px !important;
}

.jobs {
  width: 200px;
}

.location {
  width: 200px;
}

.search-button {
  height: 45px;
  width: 110px;
  background-color: var(--primary);
  color: #fff;
}

.search-button:hover {
  background-color: var(--fourth);
  cursor: pointer;
}

.right-image h3 {
  text-align: center;
}


.list-group {
  margin-left: 0px;
  margin-bottom: 1rem;
  border: 1px solid #e6e6e6;
  border-radius: 0;
  background: #fefefe;
  box-shadow: none;
  overflow: hidden;
  color: #0a0a0a;
}



.list-group > :last-child {
  margin-bottom: 0;
}

.list-group-item {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid #e6e6e6;
}

.list-group-item > :last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.list-group-item.active {
  color: #fefefe;
  background-color: #1779ba;
  border-color: 1px solid #1779ba;
}

.list-group-item:hover,
..list-group-item.disabled:focus,
.list-group-item[disabled],
.list-group-item[disabled]:hover,
.list-group-item[disabled]:focus {
  color: #8a8a8a;
  cursor: not-allowed;
  background-color: #fefefe;
}list-group-item:focus {
  background-color: #e6e6e6;
}

.list-group-item:hover.active,
.list-group-item:focus.active {
  background-color: #1779ba;
}

.list-group-item.disabled,
.list-group-item.disabled:hover,


.btn-complete {
  /* float: right; */
  align-self: right;
  /* height: 25px; */
  margin: 5px;
  border-radius: 0.5em;
  background-color: var(--fourth);
}

.btn-complete.disabled{
  background-color: var(--primary);
}

.todo-done{
    text-decoration: line-through;
}

.btn-todo-done{
    background-color: grey;
}